In [7]:
import pandas as pd

Veri Seti olarak Kaggle Netflix Movies and TV Shows 
Linki : https://www.kaggle.com/shivamb/netflix-shows
---

In [9]:
df=pd.read_csv('/content/netflix_titles.csv')

In [13]:
df.head()

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

In [16]:
df.tail()

     show_id  ...                                        description
8802   s8803  ...  A political cartoonist, a crime reporter and a...
8803   s8804  ...  While living alone in a spooky town, a young g...
8804   s8805  ...  Looking to survive in a world taken over by zo...
8805   s8806  ...  Dragged from civilian life, a former superhero...
8806   s8807  ...  A scrappy but poor boy worms his way into a ty...

[5 rows x 12 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [18]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [19]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [20]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [21]:
df.drop(['director', 'date_added'], axis=1, inplace=True)

In [22]:
df.columns

Index(['show_id', 'type', 'title', 'cast', 'country', 'release_year', 'rating',
       'duration', 'listed_in', 'description'],
      dtype='object')

In [23]:
df['title'].value_counts()

Heroes: Silence and Rock & Roll                     1
Game Over (Hindi Version)                           1
Asphalt Burning                                     1
Christiane Amanpour: Sex & Love Around the World    1
Spycraft                                            1
                                                   ..
Final Destination 3                                 1
Mariah Carey's Merriest Christmas                   1
The Present                                         1
Voulez-vous rire avec moi ce soir?                  1
Maska                                               1
Name: title, Length: 8807, dtype: int64

In [24]:
df['type'].value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [27]:
df['duration'].value_counts().head(10)

1 Season     1793
2 Seasons     425
3 Seasons     199
90 min        152
94 min        146
97 min        146
93 min        146
91 min        144
95 min        137
96 min        130
Name: duration, dtype: int64

In [28]:
df['rating']

0       PG-13
1       TV-MA
2       TV-MA
3       TV-MA
4       TV-MA
        ...
8802        R
8803    TV-Y7
8804        R
8805       PG
8806    TV-14
Name: rating, Length: 8807, dtype: object

In [30]:
df[(df['type']=="TV Show")&(df['release_year']==2021)]

     show_id  ...                                        description
1         s2  ...  After crossing paths at a party, a Cape Town t...
2         s3  ...  To protect his family from a powerful drug lor...
3         s4  ...  Feuds, flirtations and toilet talk go down amo...
4         s5  ...  In a city of coaching centers known to train I...
5         s6  ...  The arrival of a charismatic young priest brin...
...      ...  ...                                                ...
1460   s1461  ...  After 20 years, Ana María returns to Mexico an...
1551   s1552  ...  Fearless, free-spirited Hilda finds new friend...
1696   s1697  ...  After uncovering a magical locket that allows ...
2920   s2921  ...  Nick and Vanessa Lachey host this social exper...
8437   s8438  ...  Hosts David Spade, Fortune Feimster and London...

[315 rows x 10 columns]

In [31]:
year=df['release_year'].value_counts().head()
year

2018    1147
2017    1032
2019    1030
2020     953
2016     902
Name: release_year, dtype: int64

In [32]:
df[df['title']=='Ganglands']

  show_id  ...                                        description
2      s3  ...  To protect his family from a powerful drug lor...

[1 rows x 10 columns]

In [33]:
df[(df['type']=="TV Show")&(df['release_year']==2021)]['title']

1                Blood & Water
2                    Ganglands
3        Jailbirds New Orleans
4                 Kota Factory
5                Midnight Mass
                 ...
1460                   Monarca
1551                     Hilda
1696              Polly Pocket
2920             Love Is Blind
8437    The Netflix Afterparty
Name: title, Length: 315, dtype: object