PANDAS KÜTÜPHANESİ

In [2]:
import pandas as pd

In [5]:
list1=['Akhisar','Meslek','Yüksekokulu']
list2=[1,2,3]
Series1=pd.Series(list1,list2)
print(Series1)

1        Akhisar
2         Meslek
3    Yüksekokulu
dtype: object

In [8]:
import numpy as np
list3=np.array(['a','b','c'])
Series2=pd.Series(list3,[10,20,30])
print(Series2)

10    a
20    b
30    c
dtype: object

In [9]:
dict1={"X'in değeri":45,"Y'nin değeri" : 55}
Series3=pd.Series(dict1)
print(Series3)

X'in değeri     45
Y'nin değeri    55
dtype: int64

In [10]:
dict2={"X'in değeri" : 65}
Series4=pd.Series(dict2)
print(Series4)

X'in değeri    65
dtype: int64

In [11]:
print(Series3+Series4)

X'in değeri     110.0
Y'nin değeri      NaN
dtype: float64

In [13]:
from numpy.random import randn

df=pd.DataFrame(data=randn(5,5), index=['A','B','C','D','E'], columns=['Col1','Col2','Col3','Col4','Col5'])
print(df)

       Col1      Col2      Col3      Col4      Col5
A  1.151531 -1.146424 -0.728445 -0.451027  0.290062
B  0.784309  0.475396 -0.374341  0.164150  1.323543
C  2.444142 -0.466525 -0.681425 -1.131101  0.408580
D -0.188216 -1.457549  0.619353 -0.279622 -0.571749
E -1.015089  0.362656  0.129915  0.656068  0.254654

In [14]:
print(df['Col1'])

A    1.151531
B    0.784309
C    2.444142
D   -0.188216
E   -1.015089
Name: Col1, dtype: float64

In [16]:
print(df[['Col1','Col4']])

       Col1      Col4
A  1.151531 -0.451027
B  0.784309  0.164150
C  2.444142 -1.131101
D -0.188216 -0.279622
E -1.015089  0.656068

In [18]:
df['Col6']=pd.Series(randn(5),['A','B','C','D','E'])
print(df)

       Col1      Col2      Col3      Col4      Col5      Col6
A  1.151531 -1.146424 -0.728445 -0.451027  0.290062  0.045137
B  0.784309  0.475396 -0.374341  0.164150  1.323543  1.125478
C  2.444142 -0.466525 -0.681425 -1.131101  0.408580  1.675601
D -0.188216 -1.457549  0.619353 -0.279622 -0.571749 -0.784104
E -1.015089  0.362656  0.129915  0.656068  0.254654  0.803558

In [19]:
df['Col7']=(df['Col1']+df['Col2'])
print(df)

       Col1      Col2      Col3      Col4      Col5      Col6      Col7
A  1.151531 -1.146424 -0.728445 -0.451027  0.290062  0.045137  0.005106
B  0.784309  0.475396 -0.374341  0.164150  1.323543  1.125478  1.259706
C  2.444142 -0.466525 -0.681425 -1.131101  0.408580  1.675601  1.977617
D -0.188216 -1.457549  0.619353 -0.279622 -0.571749 -0.784104 -1.645765
E -1.015089  0.362656  0.129915  0.656068  0.254654  0.803558 -0.652433

In [22]:
df.drop('Col6', axis=1, inplace=True)
#Axis default değeri 0'dır. 0 satırları 1 ise Sütunları gösterir.
#inplace yapılan işlemin kalıcı olup olmadığını belirler. True olarak atanınca işlemler kalıcı olur...
print(df)

       Col1      Col2      Col3      Col4      Col5
A  1.151531 -1.146424 -0.728445 -0.451027  0.290062
B  0.784309  0.475396 -0.374341  0.164150  1.323543
C  2.444142 -0.466525 -0.681425 -1.131101  0.408580
D -0.188216 -1.457549  0.619353 -0.279622 -0.571749
E -1.015089  0.362656  0.129915  0.656068  0.254654

In [23]:
print(df.loc['C'])

Col1    2.444142
Col2   -0.466525
Col3   -0.681425
Col4   -1.131101
Col5    0.408580
Name: C, dtype: float64

In [24]:
print(df.loc['A'])#Satırın adına göre
print(df.iloc[0]) # İndekse göre işlem yapılıyor...

Col1    1.151531
Col2   -1.146424
Col3   -0.728445
Col4   -0.451027
Col5    0.290062
Name: A, dtype: float64
Col1    1.151531
Col2   -1.146424
Col3   -0.728445
Col4   -0.451027
Col5    0.290062
Name: A, dtype: float64

In [25]:
print(df.loc['A','Col5'])# A'nın Col5 isimli sütunundaki veriyi gösterir....

0.29006177298954616

In [26]:
print(df)

       Col1      Col2      Col3      Col4      Col5
A  1.151531 -1.146424 -0.728445 -0.451027  0.290062
B  0.784309  0.475396 -0.374341  0.164150  1.323543
C  2.444142 -0.466525 -0.681425 -1.131101  0.408580
D -0.188216 -1.457549  0.619353 -0.279622 -0.571749
E -1.015089  0.362656  0.129915  0.656068  0.254654

In [27]:
print(df>0.1)

    Col1   Col2   Col3   Col4   Col5
A   True  False  False  False   True
B   True   True  False   True   True
C   True  False  False  False   True
D  False  False   True  False  False
E  False   True   True   True   True

In [29]:
df1=df>0.1
print(df1)

    Col1   Col2   Col3   Col4   Col5
A   True  False  False  False   True
B   True   True  False   True   True
C   True  False  False  False   True
D  False  False   True  False  False
E  False   True   True   True   True

In [30]:
print(df[df1])

       Col1      Col2      Col3      Col4      Col5
A  1.151531       NaN       NaN       NaN  0.290062
B  0.784309  0.475396       NaN  0.164150  1.323543
C  2.444142       NaN       NaN       NaN  0.408580
D       NaN       NaN  0.619353       NaN       NaN
E       NaN  0.362656  0.129915  0.656068  0.254654

In [35]:
print(df[df>0.1])

       Col1      Col2      Col3      Col4      Col5
A  1.151531       NaN       NaN       NaN  0.290062
B  0.784309  0.475396       NaN  0.164150  1.323543
C  2.444142       NaN       NaN       NaN  0.408580
D       NaN       NaN  0.619353       NaN       NaN
E       NaN  0.362656  0.129915  0.656068  0.254654

In [39]:
print(df[(df>0.1) & (df<0.5)])

   Col1      Col2      Col3     Col4      Col5
A   NaN       NaN       NaN      NaN  0.290062
B   NaN  0.475396       NaN  0.16415       NaN
C   NaN       NaN       NaN      NaN  0.408580
D   NaN       NaN       NaN      NaN       NaN
E   NaN  0.362656  0.129915      NaN  0.254654

In [36]:
print(df['Col1']<0)

A    False
B    False
C    False
D     True
E     True
Name: Col1, dtype: bool

In [37]:
print(df[df['Col1']<0])

       Col1      Col2      Col3      Col4      Col5
D -0.188216 -1.457549  0.619353 -0.279622 -0.571749
E -1.015089  0.362656  0.129915  0.656068  0.254654

In [41]:
dizi=np.array([[10,20,np.nan],[3,np.nan,np.nan],[15,np.nan,10]])
print(dizi)

[[10. 20. nan]
 [ 3. nan nan]
 [15. nan 10.]]

In [42]:
dff=pd.DataFrame(dizi, index=['Index1','Index2','Index3'], columns=['Col1','Col2','Col3'])
print(dff)

        Col1  Col2  Col3
Index1  10.0  20.0   NaN
Index2   3.0   NaN   NaN
Index3  15.0   NaN  10.0

In [45]:
print(dff.dropna()) #Satırda eğer NAN var ise satır silinir..

Empty DataFrame
Columns: [Col1, Col2, Col3]
Index: []

In [46]:
print(dff)

        Col1  Col2  Col3
Index1  10.0  20.0   NaN
Index2   3.0   NaN   NaN
Index3  15.0   NaN  10.0

In [47]:
print(dff.dropna(axis=1)) #Sütunda NAN değeri var ise Sütun silinir...

        Col1
Index1  10.0
Index2   3.0
Index3  15.0

In [48]:
print(dff.dropna(thresh=2)) #Eğer satırda 2 adet düzgün veri var ise satır silinmez

        Col1  Col2  Col3
Index1  10.0  20.0   NaN
Index3  15.0   NaN  10.0

In [50]:
print(dff.fillna(value=0)) #Satırdaki NAN değerler 0 ile değiştirilir.

        Col1  Col2  Col3
Index1  10.0  20.0   0.0
Index2   3.0   0.0   0.0
Index3  15.0   0.0  10.0

In [52]:
print(dff.sum()) #Sütunların toplamı

Col1    28.0
Col2    20.0
Col3    10.0
dtype: float64

In [53]:
print(dff.sum().sum())# Bütün sütınların toplamı

58.0

In [54]:
print(dff.fillna(value=(dff.sum().sum())/5)) #NAN değerler yerine sayıların ortalaması atanıyor..

        Col1  Col2  Col3
Index1  10.0  20.0  11.6
Index2   3.0  11.6  11.6
Index3  15.0  11.6  10.0

In [55]:
print(dff.size)

9

In [56]:
print(dff.isnull()) # Nan olanların listelenmesi

         Col1   Col2   Col3
Index1  False  False   True
Index2  False   True   True
Index3  False   True  False

In [58]:
print(dff.isnull().sum())

Col1    0
Col2    2
Col3    2
dtype: int64

In [59]:
print(dff.isnull().sum().sum())

4

In [61]:
print(dff.size-dff.isnull().sum())

Col1    9
Col2    7
Col3    7
dtype: int64

In [63]:
data={'Meslek':['Veri Madenciliği','CEO','Hukukçu','Veri Madenciliği','CEO'],
      'Çalışanlar':['X','Y','Z','A','B'],
      'Maaş':[4500,30000,6000,5000,25000]}
print(data)

{'Meslek': ['Veri Madenciliği', 'CEO', 'Hukukçu', 'Veri Madenciliği', 'CEO'], 'Çalışanlar': ['X', 'Y', 'Z', 'A', 'B'], 'Maaş': [4500, 30000, 6000, 5000, 25000]}

In [64]:
dataDf=pd.DataFrame(data)
print(dataDf)

             Meslek Çalışanlar   Maaş
0  Veri Madenciliği          X   4500
1               CEO          Y  30000
2           Hukukçu          Z   6000
3  Veri Madenciliği          A   5000
4               CEO          B  25000

In [66]:
MaasGrup=dataDf.groupby('Maaş')
print(MaasGrup.sum())

                 Meslek Çalışanlar
Maaş
4500   Veri Madenciliği          X
5000   Veri Madenciliği          A
6000            Hukukçu          Z
25000               CEO          B
30000               CEO          Y

In [67]:
print(dataDf.groupby('Meslek').sum().loc['CEO'])

Maaş    55000
Name: CEO, dtype: int64

In [68]:
print(dataDf.groupby('Meslek').count())

                  Çalışanlar  Maaş
Meslek
CEO                        2     2
Hukukçu                    1     1
Veri Madenciliği           2     2

In [69]:
print(dataDf.groupby('Meslek').min())

                 Çalışanlar   Maaş
Meslek
CEO                       B  25000
Hukukçu                   Z   6000
Veri Madenciliği          A   4500

In [70]:
print(dataDf.groupby('Meslek').min()['Maaş'])

Meslek
CEO                 25000
Hukukçu              6000
Veri Madenciliği     4500
Name: Maaş, dtype: int64

In [72]:
print(dataDf.groupby('Meslek').mean()['Maaş']['CEO'])

27500

In [75]:
df1=pd.DataFrame(data=randn(5,5), index=['A','B','C','D','E'], columns=['Col1','Col2','Col3','Col4','Col5'])
print(df1)

       Col1      Col2      Col3      Col4      Col5
A  1.532653  0.059956 -3.019190  1.460584  1.254205
B  1.853018  1.782557  0.744393  0.261433 -0.553088
C -1.338199  2.230960 -0.997353 -1.267284 -0.066605
D  0.353569  0.222238  0.235762 -0.582838 -1.527458
E -0.695535 -0.154485  0.814190 -0.480020 -0.601094

In [76]:
df2=pd.DataFrame(data=randn(5,5), index=['A','B','C','D','E'], columns=['Col1','Col2','Col3','Col4','Col5'])
print(df2)

       Col1      Col2      Col3      Col4      Col5
A  1.617631 -0.879573  0.384645  0.753615 -0.389128
B  1.638968 -0.676129  1.003976  0.706286 -0.401979
C -1.028090  1.590526 -2.768366  0.426159 -1.273822
D  3.046585  0.586534  0.210631 -0.738119 -0.548901
E -0.732541 -0.022062 -2.005139 -0.483781  1.181915

In [78]:
frames=[df1, df2]
sonuc=pd.concat(frames)
print(sonuc)

       Col1      Col2      Col3      Col4      Col5
A  1.532653  0.059956 -3.019190  1.460584  1.254205
B  1.853018  1.782557  0.744393  0.261433 -0.553088
C -1.338199  2.230960 -0.997353 -1.267284 -0.066605
D  0.353569  0.222238  0.235762 -0.582838 -1.527458
E -0.695535 -0.154485  0.814190 -0.480020 -0.601094
A  1.617631 -0.879573  0.384645  0.753615 -0.389128
B  1.638968 -0.676129  1.003976  0.706286 -0.401979
C -1.028090  1.590526 -2.768366  0.426159 -1.273822
D  3.046585  0.586534  0.210631 -0.738119 -0.548901
E -0.732541 -0.022062 -2.005139 -0.483781  1.181915

KAYNAKÇA

https://medium.com/deep-learning-turkiye/adan-z-ye-pandas-tutoriali-ba%C5%9Flang%C4%B1%C3%A7-ve-orta-seviye-4edf0094e0d5

http://www.veridefteri.com/2018/03/01/pandasa-giris-seriler/

https://www.btogrenme.com/python-pandas-kutuphanesi/